 <!-- BEGIN Section Search -->
 <!-- <div class="col-span-full p-5 lg:col-span-4 lg:p-2"> -->
   <!-- BEGIN Section News -->
   <div class="mb-12">

     
       <h3 class="mb-8 text-2xl font-medium leading-7">Search</h3>
       <div class="col-span-full">
         <form action="/search/" method="get">
           <div class="flex flex-wrap gap-5 font-bold" >
             <input type="text" value="" name="q" id="searchquery"
               class="border-b border-secondary px-2 py-1.5 pb-2 text-black transition focus:outline-none"
               style="width: 85%;"
               placeholder="search keywords" />
             <button type="submit"
               class="bg-blue-700 px-5 py-2 font-helvetica font-bold text-white outline-none transition-all duration-300 hover:bg-blue-900 focus:bg-blue-900">
               Search
             </button>
           </div>
         </form>
       </div>
     <!-- EOL Section Search -->

   </div>
 <!-- </div> -->