{{- define "main" }}
<!-- Main File -->
  <div
    id="content"
    class="mb-[225px] mt-6 grid grid-cols-1 gap-10 lg:grid-cols-12"
  >
    
      
      
    <div class="col-span-full p-5 lg:col-span-8 lg:p-2">
      
      {{ partial "index_news.html" . }}
      {{ partial "index_workshop.html" . }}
      {{ partial "index_podcast.html" . }}
      
    </div>
    <!-- EOL Left Side -->
    <!-- BEGIN RIGHT Side -->

    
    <div class="col-span-full p-5 lg:col-span-4 lg:p-2">
      {{ partial "search.html" }}
      <!-- BEGIN Section Twitter -->
      {{- if site.Params.twitter }}
        <div class="mb-12">
          <h3 class="mb-8 text-2xl font-medium leading-7">Tweets</h3>
          <div class="max-h-[560px] overflow-y-scroll">
            <a
              class="twitter-timeline"
              href="{{ site.Params.twitter }}?ref_src=twsrc%5Etfw"
              >Tweets by OpenaiU</a
            >
            <script
              async
              src="https://platform.twitter.com/widgets.js"
              charset="utf-8"
            ></script>
          </div>
        </div>
      {{ end -}}
      <!-- EOL Section Twitter -->
      <!-- EOL  New Section Twitter -->
      <!-- BEGIN Section Latest Podcasts -->
      <div>
        <h3 class="mb-8 text-2xl font-medium leading-7">Podcasts</h3>
        <ul class="flex flex-col gap-3">
          {{ $postsPodcast := where site.RegularPages "Section" "posts" }}
          {{ $postsPodcast = where $postsPodcast "Params.category" "intersect" (slice "Podcast") }}
          {{- range first 6 $postsPodcast }}
            <li class="border-b border-secondary border-opacity-[.25] pb-2">
              <a href="{{ .RelPermalink }}">
                <h1 class="text-lg font-medium leading-8">
                  {{ .Title }}
                </h1>
                <div class="font-helvetica">
                  <span class="text-secondary"
                    >{{ .Date | time.Format ":date_long" }}</span
                  >
                </div>
              </a>
            </li>
          {{ end -}}
        </ul>
      </div>
      <!-- EOL Section Latest Podcasts -->
    </div>
    <!-- EOL RIGHT Side -->
  </div>
{{ end -}}
